body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f4f4f4;
}

.navbar-custom {
  background: var(--glass);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  padding: 1rem 0;
  transition: all 0.3s ease;
}

.text-accent {
  color: var(--accent);
}
.dot {
  color: var(--accent);
  font-size: 2rem;
  line-height: 0;
}

.nav-link {
  font-weight: 600;
  color: var(--dark) !important;
  margin: 0 10px;
  font-size: 0.95rem;
}

.cart-icon-box {
  background: var(--dark);
  color: white !important;
  padding: 8px 18px !important;
  border-radius: 50px;
  position: relative;
}

.cart-count {
  font-size: 10px;
  background: var(--accent);
  padding: 2px 6px;
  border-radius: 50%;
  margin-left: 5px;
}

.heading{
    color: rgb(13, 188, 191);
    text-decoration: none;
    font-size: 20px;
    font-weight: 800;
}
.nav-link{
    text-decoration: none;
     padding:.5rem 0.8rem;
     color:var(--dark);
     font-weight:600;
     transition:color .18s ease,transform .18s ease
}

.nav-link:hover {
    color:var(--accent);
    transform:translateY(-2px)
}

.nav-link:active{
   color:var(--accent);
   font-weight:800
}

.icon-blue{
     color: rgb(4, 125, 224);
}

.cart-button {
  cursor: pointer;
  padding-top: 5px;
  font-weight:600;
  transition:color .18s ease,transform .18s ease
}
.cart-button:hover {
    color:var(--accent);
    transform:translateY(-2px)
}

.cart-button:active{
   color:var(--accent);
   font-weight:800
}

/* yeh nav-bar se neche hero section ki css hai */
.hero-wrapper {
  background: radial-gradient(circle at top right, #f1f5f9 0%, #ffffff 100%);
 
}

.hero-title {
  font-size: 4.5rem;
  font-weight: 800;
  letter-spacing: -2px;
  line-height: 1.1;
  color: var(--dark);
}

 .gradient-text {
  color: #6366f1; 
  background: linear-gradient(90deg, #6366f1, #a855f7);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.badge-new {
  background: #eef2ff;
  color: var(--accent);
  padding: 8px 16px;
  border-radius: 50px;
  font-weight: 700;
  font-size: 0.8rem;
  display: inline-block;
  margin-bottom: 20px;
}

.hero-para {
  font-size: 1.1rem;
  color: #64748b;
  max-width: 500px;
  margin-top: 20px;
}

.hero-img-container {
  position: relative;
  padding: 20px;
}

.hero-img {
  width: 100%;
  height: 550px;
  object-fit: cover;
  border-radius: 30px;
  box-shadow: 0 30px 60px rgba(0, 0, 0, 0.1);
  transform: perspective(1000px) rotateY(-5deg);
  transition: 0.5s;
}

.hero-img-container:hover .hero-img {
  transform: perspective(1000px) rotateY(0deg);
}

.floating-price-tag {
  position: absolute;
  bottom: 40px;
  left: -20px;
  background: white;
  padding: 15px 25px;
  border-radius: 20px;
  animation: float 3s ease-in-out infinite;
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
}

/* floating image alignment */
.custom-row {
  display: flex;
  align-items: center;      
  min-height: 100vh;        
  flex-wrap: wrap;
}

.custom-col {
  width: 100%;              
  order: 2;                 
}

@media (min-width: 992px) {
  .custom-col {
    width: 50%;             
    order: 1;               
  }
}


.custom-col-2 {
  width: 100%;        
  order: 1;           
  margin-bottom: 3rem;
}

@media (min-width: 992px) {
  .custom-col-2 {
    width: 50%;       
    order: 2;         
    margin-bottom: 0; 
  }
}

@keyframes float {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-6px); }
  100% { transform: translateY(0); }
}

.floating-price-tag {
  animation: float 3s ease-in-out infinite;
}

/* floating image alignment */

/* header button css*/

.button-dark,
.button-outline{
  padding: 12px 28px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.button-dark{
  background-color: rgb(135, 195, 45);
  color: black;
  border: 2px solid #111;
}

.button-dark:hover {
  background-color: #ffffff;
  border-color: #000;
}

/* Outline button */
.button-outline {
  background-color: transparent;
  color: #111;
  border: 2px solid #111;
  margin-left: 16px; 
}

.button-outline:hover {
  background-color: #111;
  color: #fff;
}


/* header button css*/

#products {
  padding: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 60px;
}

.card {
  position: relative;
  background: #ffffff;
  border-radius: 24px;
  padding: 16px;
  border: 1px solid #f1f5f9;
  transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  height: 100%;
  display: flex;
  flex-direction: column;
}

.card:hover{
   transform: translateY(-10px);
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.08);
  border-color: #e2e8f0;
}

.desc{
    font-size: 0.85rem;
  color: var(--slate);
  margin-bottom: 20px;
}

.amount{
  color: #5cb85c;
  font-size: 1.4rem;
  font-weight: 750;
  
}

.card img {
  height: 180px;
  width: 100%;
  object-fit: contain;
}

.card button {
  width: 100%;
  padding: 8px;
  border-radius: 12px;
  background: rgb(220, 94, 94);
  margin-top: 20px;
  color: white;
  font-size: 15px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  border: none;
  cursor: pointer;
}

#cart {
  position: fixed;
  right: 0;
  top: 0;
  width: 300px;
  height: 100%;
  background: white;
  padding: 20px;
  box-shadow: -2px 0 10px rgba(0,0,0,0.2);
  display: none;
}

#cart-item {
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}

#cart-item button {
  margin: 0 5px;
}

.close {
  background: crimson;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}



/* yeh footer ki css hai*/

.main-footer {
   background: rgb(3, 3, 81); 
  color: #fff;
  padding: 80px 20px 0;
}

.footer-container {
  max-width: 1200px;
  margin: auto;
}

/* Grid */
.footer-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 50px;
  margin-bottom: 50px;
}

/* Brand */
.logo {
  font-size: 28px;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
}

.logo .accent {
  color: #6745f1;
}



.footer-brand p {
  margin-top: 15px;
  color: #cfcfcf;
  line-height: 1.6;
}

/* Headings */
.footer-heading {
  font-size: 14px;
  letter-spacing: 1px;
  margin-bottom: 16px;
  text-transform: uppercase;
}

/* Links */
.footer-links {
  list-style: none;
  padding: 0;
}

.footer-links li {
  margin-bottom: 10px;
}

.footer-links a {
  color: #cfcfcf;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-links a:hover {
  color: #60c215;
}

.social-links {
  display: flex;
  gap: 1rem;        
  margin-top: 1.5rem; 
}


.social-links a {
  color: #fff;
  font-size: 18px;
  transition: color 0.3s;
}

.social-links a:hover {
  color: #af0874;
}


.small-text {
  color: #cfcfcf;
  font-size: 14px;
}

.newsletter-box {
  display: flex;
  margin-top: 15px;
  background: #ffffff;
  color: rgb(15, 15, 15);
  border-radius: 30px;
  overflow: hidden;
}

.newsletter-box input {
  flex: 1;
  padding: 12px 18px;
  background: none;
  border: none;
  color: #fff;
  outline: none;
}

.newsletter-box button {
  background: #6023e3;
  border: none;
  padding: 0 18px;
  color: #fff;
  cursor: pointer;
}

/* Divider */
.footer-divider {
  border: none;
  height: 1px;
  background: rgba(255,255,255,0.1);
}

/* Bottom */
.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 0;
  flex-wrap: wrap;
  gap: 15px;
}

.footer-bottom p {
  margin: 0;
  color: #cfcfcf;
}

.payment-icons i {
  font-size: 26px;
  margin-left: 12px;
}

/* yeh footer ki css hai*/


/* yeh hover kro ghy tu description increase hojae ghi*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#product-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.desc {
  line-height: 1.4;
  max-height: calc(1.4em * 4); /* 4 lines */
  overflow: hidden;
  cursor: pointer;
}


.card:hover .desc {
  max-height: none;
}
/* yeh hover kro ghy tu description increase hojae ghi*/

/* Cart container */
.checkout-btn{ width:100%; padding:12px 14px; border-radius:10px; background: brown; color:#fff; ; font-weight:800; font-size:15px; }
@media (max-width:480px){ .qty-btn{ width:40px; height:40px; } .checkout-btn{ padding:14px; } }
#cart-items {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 600px;
  margin: 20px auto;
}

/* Each cart item */
.cart-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 5px rgba(0,0,0,0.05);
}

/* Image styling */
.item-img {
  width: 60px;       /* fixed width */
  height: 60px;      /* fixed height */
  object-fit: contain; /* keeps aspect ratio without stretching */
  border-radius: 5px;
  margin-right: 10px;
}

/* Info (title + price) */
.item-info {
  flex: 1; /* takes remaining space */
}

.item-info h5 {
  margin: 0;
  font-size: 16px;
  font-weight: 600;
  color: #333;
}

.item-info p {
  margin: 4px 0 0;
  font-size: 14px;
  color: #666;
}

/* Buttons container */
.item-buttons button {
  padding: 6px 10px;
  margin-left: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.decrease-btn { background-color: #f0ad4e; color: white; }
.increase-btn { background-color: #5cb85c; color: white; }
.remove-btn { background-color: #d9534f; color: white; }
.item-buttons button:hover { opacity: 0.85; }





/* login and signup button*/

.auth-buttons {
  display: flex;
  gap: 10px;

}

.auth-buttons a {
  text-decoration: none;
  padding: 8px 16px;
  border-radius: 5px;
  font-weight: bold;
  transition: 0.3s;
}

.btn-login {
  background-color: #05c0ad;
  color: white;
}

.btn-login:hover {
  background-color: #0056b3;
}

.btn-signup {
  background-color: white;
  color: #000000;
  border: 2px solid #000000;
}

.btn-signup:hover {
  background-color: #60a7f2;
  color: white;
}




/* login page*/

.center-div {
  font-family: Arial, sans-serif;
  background-color: #f0f2f5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.auth-container {
  background: white;
  padding: 30px 40px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  width: 320px;
}

.auth-container h2 {
  margin-bottom: 20px;
  color: #232f3e;
  text-align: center;
}

.auth-container input {
  width: 100%;
  padding: 12px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1rem;
}

.auth-container button {
  width: 100%;
  background-color: #f0c14b;
  border: 1px solid #a88734;
  padding: 12px;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 15px;
}

.auth-container button:hover {
  background-color: #ddb347;
}

/* search bar*/
/* Search Bar - Full Width */
.search-container {
  width: 100%;
  max-width: 1200px; /* optional max width */
  margin: 20px auto;
  display: flex;
  align-items: center;
  gap: 10px;
}

#search-input {
  flex: 1;  /* takes full available width */
  padding: 14px 20px;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid #ccc;
  outline: none;
  box-sizing: border-box;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

#search-input:focus {
  border-color: #6366f1;
  box-shadow: 0 0 6px rgba(99, 102, 241, 0.5);
}

#search-btn {
  padding: 14px 25px;
  font-size: 16px;
  border-radius: 8px;
  border: none;
  background-color: #6366f1;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#search-btn:hover {
  background-color: #a855f7;
}

/* Suggestions dropdown - optional */
.search-suggestions {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: white;
  border: 1px solid #ccc;
  border-radius: 0 0 8px 8px;
  max-height: 250px;
  overflow-y: auto;
  z-index: 100;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.search-suggestions div {
  padding: 10px 20px;
  cursor: pointer;
  transition: background 0.2s;
}

.search-suggestions div:hover {
  background-color: #f0f0f0;
}












/* Featured Products / Product container */
.product-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 products per row */
  gap: 20px;
  padding: 30px 0;
}

/* Make it responsive: 2 per row on tablets, 1 per row on mobile */
@media (max-width: 992px) {
  .product-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 576px) {
  .product-container {
    grid-template-columns: 1fr;
  }
}

/* Optional: add some spacing between product cards */


.navbar {
  background-color: rgb(198, 203, 204);
  
}

