body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f4f4f4;
}

.nav-bar {
  background: rgb(246, 222, 222)
  color(srgb red green blue);
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  /* Fixed top */
background-color: rgb(236, 233, 233);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030; /* so it stays above content */
  

}

.heading{
    color: black;
    text-decoration: none;
    font-size: 20px;
    font-weight: 800;
}
.clickable-link{
    text-decoration: none;
     padding:.5rem 0.8rem;
     color:var(--dark);
     font-weight:600;
     transition:color .18s ease,transform .18s ease
}

.clickable-link:hover {
    color:var(--accent);
    transform:translateY(-2px)
}

.clickable-link:active{
   color:var(--accent);
   font-weight:800
}

.nav-bar .icon-blue{
     color: blue;
}

.cart-button {
  cursor: pointer;
  padding-top: 5px;
  font-weight:600;
  transition:color .18s ease,transform .18s ease
}
.cart-button:hover {
    color:var(--accent);
    transform:translateY(-2px)
}

.cart-button:active{
   color:var(--accent);
   font-weight:800
}

/* yeh nav-bar se neche hero section ki css hai */
.hero-wrapper {
  background: radial-gradient(circle at top right, #f1f5f9 0%, #ffffff 100%);
 
}

.hero-title {
  font-size: 4.5rem;
  font-weight: 800;
  letter-spacing: -2px;
  line-height: 1.1;
  color: var(--dark);
}

 .gradient-text {
  color: #6366f1; 
  background: linear-gradient(90deg, #6366f1, #a855f7);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.badge-new {
  background: #eef2ff;
  color: var(--accent);
  padding: 8px 16px;
  border-radius: 50px;
  font-weight: 700;
  font-size: 0.8rem;
  display: inline-block;
  margin-bottom: 20px;
}

.hero-para {
  font-size: 1.1rem;
  color: #64748b;
  max-width: 500px;
  margin-top: 20px;
}

.hero-img-container {
  position: relative;
  padding: 20px;
}

.hero-img {
  width: 100%;
  height: 550px;
  object-fit: cover;
  border-radius: 30px;
  box-shadow: 0 30px 60px rgba(0, 0, 0, 0.1);
  transform: perspective(1000px) rotateY(-5deg);
  transition: 0.5s;
}

.hero-img-container:hover .hero-img {
  transform: perspective(1000px) rotateY(0deg);
}

.floating-price-tag {
  position: absolute;
  bottom: 40px;
  left: -20px;
  background: white;
  padding: 15px 25px;
  border-radius: 20px;
  animation: float 3s ease-in-out infinite;
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
}

/* floating image alignment */
.custom-row {
  display: flex;
  align-items: center;      
  min-height: 100vh;        
  flex-wrap: wrap;
}

.custom-col {
  width: 100%;              
  order: 2;                 
}

@media (min-width: 992px) {
  .custom-col {
    width: 50%;             
    order: 1;               
  }
}


.custom-col-2 {
  width: 100%;        
  order: 1;           
  margin-bottom: 3rem;
}

@media (min-width: 992px) {
  .custom-col-2 {
    width: 50%;       
    order: 2;         
    margin-bottom: 0; 
  }
}

@keyframes float {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-6px); }
  100% { transform: translateY(0); }
}

.floating-price-tag {
  animation: float 3s ease-in-out infinite;
}

/* floating image alignment */

/* header button css*/

.button-dark,
.button-outline{
  padding: 12px 28px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.button-dark{
  background-color: rgb(135, 195, 45);
  color: black;
  border: 2px solid #111;
}

.button-dark:hover {
  background-color: #ffffff;
  border-color: #000;
}

/* Outline button */
.button-outline {
  background-color: transparent;
  color: #111;
  border: 2px solid #111;
  margin-left: 16px; 
}

.button-outline:hover {
  background-color: #111;
  color: #fff;
}


/* header button css*/

#products {
  padding: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 60px;
}

.card {
  position: relative;
  background: #ffffff;
  border-radius: 24px;
  padding: 16px;
  border: 1px solid #f1f5f9;
  transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  height: 100%;
  display: flex;
  flex-direction: column;
}

.card:hover{
   transform: translateY(-10px);
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.08);
  border-color: #e2e8f0;
}

.desc{
    font-size: 0.85rem;
  color: var(--slate);
  margin-bottom: 20px;
}

.amount{
  font-size: 1.4rem;
  font-weight: 750;
  color: var(--text-indigo);
}

.card img {
  height: 180px;
  width: 100%;
  object-fit: contain;
}

.card button {
  width: 100%;
  padding: 8px;
  border-radius: 12px;
  background: rgb(220, 94, 94);
  margin-top: 20px;
  color: white;
  font-size: 15px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  border: none;
  cursor: pointer;
}

#cart {
  position: fixed;
  right: 0;
  top: 0;
  width: 300px;
  height: 100%;
  background: white;
  padding: 20px;
  box-shadow: -2px 0 10px rgba(0,0,0,0.2);
  display: none;
}

#cart-item {
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}

#cart-item button {
  margin: 0 5px;
}

.close {
  background: crimson;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}



/* yeh footer ki css hai*/

.main-footer {
   background: rgb(3, 3, 81); 
  color: #fff;
  padding: 80px 20px 0;
}

.footer-container {
  max-width: 1200px;
  margin: auto;
}

/* Grid */
.footer-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 50px;
  margin-bottom: 50px;
}

/* Brand */
.logo {
  font-size: 28px;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
}

.logo .accent {
  color: #6745f1;
}



.footer-brand p {
  margin-top: 15px;
  color: #cfcfcf;
  line-height: 1.6;
}

/* Headings */
.footer-heading {
  font-size: 14px;
  letter-spacing: 1px;
  margin-bottom: 16px;
  text-transform: uppercase;
}

/* Links */
.footer-links {
  list-style: none;
  padding: 0;
}

.footer-links li {
  margin-bottom: 10px;
}

.footer-links a {
  color: #cfcfcf;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-links a:hover {
  color: #60c215;
}

.social-links {
  display: flex;
  gap: 1rem;        
  margin-top: 1.5rem; 
}


.social-links a {
  color: #fff;
  font-size: 18px;
  transition: color 0.3s;
}

.social-links a:hover {
  color: #af0874;
}


.small-text {
  color: #cfcfcf;
  font-size: 14px;
}

.newsletter-box {
  display: flex;
  margin-top: 15px;
  background: #ffffff;
  color: rgb(15, 15, 15);
  border-radius: 30px;
  overflow: hidden;
}

.newsletter-box input {
  flex: 1;
  padding: 12px 18px;
  background: none;
  border: none;
  color: #fff;
  outline: none;
}

.newsletter-box button {
  background: #6023e3;
  border: none;
  padding: 0 18px;
  color: #fff;
  cursor: pointer;
}

/* Divider */
.footer-divider {
  border: none;
  height: 1px;
  background: rgba(255,255,255,0.1);
}

/* Bottom */
.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 0;
  flex-wrap: wrap;
  gap: 15px;
}

.footer-bottom p {
  margin: 0;
  color: #cfcfcf;
}

.payment-icons i {
  font-size: 26px;
  margin-left: 12px;
}



/* yeh footer ki css hai*/
